body{
    width: 1500px;
    margin: 0px auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
#header{
    font-size: 15px;
    height: 110px;
    width: 1200px;
    display: flex;
}
.header-left{
    width: 100px;
    float: left;
    height: 110px;
}
.header-right{
    width: 1100px;
    float: right;
    height: 110px;
    
}
.top{
    width: 1000px;
    height: 55px;
    padding-top: 25px;
}
.down{
    width: 1000px;
    height: 55px;
    
}
img{
    width: 240px;
    height: auto;
}
img.cangiua{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}
ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
ul li{
    display: inline-block;
    margin-right: 20px;
    padding-top: 1px;
    padding-bottom: 25px;
    text-decoration: none;
    padding-left: 5px;
}
ul li a{
    color: black;
    font-size: 13px;
}
a i{
    color: black;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 200px;
}
.atte{
    border:none;
    height: 20px;
    width: 110%;
    height: 50px;
    margin-top: 0;
    border-bottom: 1px;
    box-shadow: 0 10px 10px -10px rgb(211, 177, 177);
    margin: -50px auto 10px; 
}
.noidung2{
    display: flex;
    width: 1000px;
    height: 70px;
    padding-left: 100px;
    text-align: center;
}
.baiviet{
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    padding: 6px;
    position:absolute;
    bottom: 10px;
}
.popular{
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    padding: 6px;
    position: absolute;
    bottom: 10px;
}
.hang2{
    height: 90px;
}
.hang3{
    height: 90px;
}
.hr3{
    border: 1px black solid;
}
.hr4{
    border: 1px black solid;
}