.table {
    border-collapse: collapse;
}

.table,tr, th,td{
    border: 1px solid rgb(243, 178, 56);
    margin: 0px;
    padding: 0px;
    font: tahoma;
    font-size: 12px;
}
.th {
    color: white;
    background-color: #CC0033;
}

.strong {
    font-size: 23px;
    color: #CC0033;
}